ACTION=="add", KERNEL=="video*", ATTRS{serial}=="F2814710", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="081b", SYMLINK+="LOGITECH_C310_TOP"
ACTION=="add", KERNEL=="video*", ATTRS{serial}=="72D61130", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="081b", SYMLINK+="LOGITECH_C310_BOT"
ACTION=="add", KERNEL=="video*", ATTRS{serial}=="927CC5D0", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="081b", SYMLINK+="LOGITECH_C310_LEFT"
ACTION=="add", KERNEL=="video*", ATTRS{serial}=="7BB12130", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="081b", SYMLINK+="LOGITECH_C310_RIGHT"

